.menu{
    margin-top:20px;
}
.submenu {

}

.submenu .title {
    background: rgb(204, 204, 204);
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.submenu ul {
    padding-left: 0;
    margin-bottom:0;
}

.submenu ul li {
    list-style: none;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border:1px solid #ccc;
    border-top:none;
}
#search-box{
    margin:10px 0;
}
#password_change_form{

}
#password_change_form label{
    width:80px;
}
#password_change_form .form-row{
    margin:10px 0;
}
ul.errorlist{
    display: inline-block;
}

#customer_form .form-row,#authUser_form .form-row{
    margin-bottom:10px;
}
#customer_form .form-row label,#authUser_form .form-row label{
    width:80px
}
